* {
    box-sizing: border-box;
    margin: 0;
    
} 

body {
    font-family: 'Noto Sans', 'Sans-Serif' !important;
    background: rgb(240, 231, 231);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height:  100vh;
}

.container {
    background: rgb(233, 236, 237);
    width: 500px;
    padding: 30px;

    border-radius: 25px;
    border: 1px solid black;

    
}

h1 {
    text-align: center;
    margin-bottom: 28px;
    color:#0557ae;
    font-size: larger;
    
}


.signup {
    background: #3d9746;
    color: white;
    text-align: center;
    padding: 15px;
    margin: -30px -30px 25px -30px;
    font-size: 20px;
    border-radius: 25px 25px 0 0;
    font-weight: bold;
}
#login {
    text-align: center;
    color: #b11bac;
    margin-bottom: 25px;
    font-size: 40px;
}
form {
    display: flex;
    flex-direction:column;
    
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: large;
}

input {
    padding: 10px;
    margin-bottom: 17px;

    border: 3px solid #dbcfcf;
    border-radius: 8px;

    font-size: 17px;
}
select {
    padding: 10px;
    margin-bottom: 17px;

    border: 3px solid #ccc;
    border-radius: 5px;

    font-size: 14px;
}

button {
    padding: 11px;
    background: #007bff;
    color: rgb(247, 240, 240);

    border: none;
    border-radius: 7px;

    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

button:hover {
    background: #0056b3;
    text-decoration: underline;
}

.login-link {
    margin-top: 25px;
    text-align: center;
    border-top: 2px solid grey;
    padding-top: 25px;
    
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 0%;

}

.login-link a:hover{
    color:#e01111;
    text-decoration: underline;
} 
