<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="heading">
        <h1 id =login> Login </h1>
        <div class="container">
            
            <form >

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
                
                <label for="select"> Choose Role</label>

                <label>

                    <select>

                        <option value="">Choose Role</option>
                        <option value="student">Student</option>
                        <option value="examiner">Examiner</option>
                        
                    </select>

                </label>
                

                <button type="submit">Login</button>
                <div><p class="login-link"> Register Yourself !! <br><br> <a href="/signup">Signup</a> </p></div>

            </form>

        
        </div>
    </div>
</body>
</html>

